<div class="an-inner-banner has-bg" style="background: url('assets/img/slider3.jpg') center center no-repeat;
        background-size: cover;">
        <div class="overlay"></div>

        <div class="container">
          <div class="an-title-container">
            <h1 class="an-title">All Agents</h1>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Agents</li>
            </ol>

          </div> <!-- end title container -->

        </div> <!-- end cotnainer -->
      </div> <!-- an-header-banner -->

      <div class="an-page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="content-body pb0">
                <div class="an-section-container pb0">
                  <div class="an-location-search-field">
                    <form action="#" class='an-form'>
                      <div class="row">
                        <div class="col-sm-5">
                          <input type="text" class="an-form-control bottom-border" placeholder="Type agent name">
                        </div>
                        <div class="col-sm-5">
                          <div class="an-default-select-wrapper minimal">
                            <select>
                              <option value="0">Category</option>
                              <option value="1">Sale</option>
                              <option value="2">Rent</option>

                            </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="submit-btn">
                            <button type="submit" class="an-btn  an-btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="an-tab-container">
                    <div class="tab-nav">
                      <h3 class="results">60 agents found</h3>
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
                        <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
                        <li role="presentation"><a href="#highest-price" aria-controls="highest-price" role="tab" data-toggle="tab">Highest Price</a></li>
                        <li role="presentation"><a href="#lowest-price" aria-controls="lowest-price" role="tab" data-toggle="tab">Lowest Price</a></li>
                      </ul>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="all">
                        <div class="an-agencies an-agents">
                          <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user1.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Jassica jones</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(23)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">23 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Jamse</a><span></span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(18)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">18 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-3.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Maxwell</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(41)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">41 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user4.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Sam wellshare</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user5.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Dam well</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user7.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Milner</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rest(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user8.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user10.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user11.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="agent-profile.html"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="agent-profile.html">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user12.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user13.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>
                          </div> <!-- end row -->
                        </div> <!-- end an-agencies -->
                      </div> <!-- end tab pane -->
                      <div role="tabpanel" class="tab-pane fade" id="popular">
                        <div class="an-agencies an-agents">
                          <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user1.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Jassica jones</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(23)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">23 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Jamse</a><span></span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(18)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">18 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-3.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Maxwell</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-restaurant"></i>Rstrnt(41)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">41 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user4.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Sam wellshare</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user5.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Dam well</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user7.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Milner</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rest(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user8.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user10.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user11.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user12.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user13.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>
                          </div> <!-- end row -->
                        </div> <!-- end an-agencies -->
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="highest-price">
                        <div class="an-agencies an-agents">
                          <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user1.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Jassica jones</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(23)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">23 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Jamse</a><span></span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(18)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">18 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-3.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Maxwell</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-restaurant"></i>Rstrnt(41)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">41 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user4.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Sam wellshare</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user5.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Dam well</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user7.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Milner</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rest(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user8.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user10.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user11.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user12.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user13.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>
                          </div> <!-- end row -->
                        </div> <!-- end an-agencies -->

                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="lowest-price">
                        <div class="an-agencies an-agents">
                          <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user1.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Jassica jones</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(23)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">23 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-2.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Jamse</a><span></span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rent(18)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">18 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user-3.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Maxwell</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-restaurant"></i>Rstrnt(41)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">41 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user4.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Sam wellshare</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user5.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Dam well</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Sale(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user7.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Milner</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primary"></i>Rest(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user8.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user10.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user11.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user12.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>

                            <div class="col-md-4 col-sm-4">
                              <div class="an-agency-single an-agent-single">
                                <div class="left">
                                  <div class="image" style="background: url('assets/img/users/user13.jpg') center center no-repeat; background-size: cover;">
                                    <div class="overlay">
                                      <a class="message" href="#"><i class="ion-ios-paperplane"></i></a>
                                      <a class="link" href="#"><i class="ion-forward"></i></a>
                                    </div>
                                  </div>

                                  <div class="name">
                                    <h3><a href="#">Patrica king</a><span>Pro</span></h3>
                                    <ul class="list-inline category-list-alter">
                                      <li><a href="#"><i class="ion-record color-primar"></i>Rent(31)</a></li>
                                    </ul>
                                  </div>

                                  <div class="listing-meta">
                                    <span><i class="typcn typcn-location"></i>USA, knoxville, 4401 Waldeck Street</span>
                                  </div>
                                  <div class="listing-count">
                                    <a class="an-btn an-btn-default btn-sm rounded" href="#">31 listing</a>
                                  </div>
                                </div>
                              </div> <!-- end agency-single -->
                            </div>
                          </div> <!-- end row -->
                        </div> <!-- end an-agencies -->
                      </div>
                    </div> <!-- end tab-content -->
                  </div>
                </div> <!-- end an-section-container -->
              </div> <!-- end content-body -->
            </div>